/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos del header */
header {
  background-color: #7FB77E;
  text-align: center; }
  header img {
    margin-top: 5%;
    width: 15%; }

/* estilos del nav */
.menu {
  padding: auto;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600; }

/* estilos del body */
body {
  background: #f0efd0;
  background: -moz-radial-gradient(circle, #f0efd0 22%, #f7f6dc 50%, #e6e2bb 80%);
  background: -webkit-radial-gradient(circle, #f0efd0 22%, #f7f6dc 50%, #e6e2bb 80%);
  background: radial-gradient(circle, #f0efd0 22%, #f7f6dc 50%, #e6e2bb 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0efd0",endColorstr="#e6e2bb",GradientType=1); }

/* estilos del main */
.main-index {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem; }
  .main-index img {
    width: 60%;
    animation-name: foto-aparece;
    animation-duration: 1s;
    animation-iteration-count: initial; }
  .main-index p {
    margin: 1rem 2rem;
    animation-name: foto-aparece;
    animation-duration: 2s;
    animation-iteration-count: initial; }

/* estilos del footer */
footer {
  background-color: #7FB77E;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
  animation-name: animacion-footer-aparece;
  animation-duration: 2.5s;
  animation-iteration-count: initial; }
  footer div {
    display: flex;
    flex-direction: row; }
  footer img {
    margin-bottom: 0.5rem;
    filter: drop-shadow(1px 4px 3px black);
    animation-name: animacion-footer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    padding-inline: 0.5rem;
    margin-bottom: 0.7rem; }
  footer .animacion-giro {
    animation-name: animacion-footer-giro;
    animation-duration: 1.2s;
    animation-iteration-count: initial; }
  footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #212121;
    margin-bottom: 0; }

/* estilos de nosotros */
.main-nosotros {
  text-align: center;
  margin-top: 2rem; }
  .main-nosotros h2 {
    margin: 3.2rem 3rem;
    padding: 0.3rem 0.5rem;
    display: inline;
    background-color: #b1d7b4;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600; }
  .main-nosotros p {
    margin: 3rem 5rem; }
  .main-nosotros div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px; }
    .main-nosotros div img {
      width: 70%;
      height: 70%;
      border-radius: 30px; }

/* estilos de productos */
.main-productos {
  text-align: center; }
  .main-productos section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif; }
    .main-productos section h2 {
      margin: 3.2rem 6rem;
      padding: 0.3rem 0.2rem;
      display: inline;
      background-color: #b1d7b4;
      border-radius: 5px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600; }
    .main-productos section .productos-suplementos {
      background-color: #B1D7B4;
      margin: 1rem 2rem;
      border-radius: 30px; }
    .main-productos section .productos-frutos {
      background-color: #B1D7B4;
      margin: 1rem 2rem;
      border-radius: 30px; }
    .main-productos section .productos-harinas {
      background-color: #B1D7B4;
      margin: 1rem 2rem;
      border-radius: 30px; }
    .main-productos section .productos-hierbas {
      background-color: #B1D7B4;
      margin: 1rem 2rem;
      border-radius: 30px; }
    .main-productos section img {
      width: 7rem;
      height: 5rem;
      border-radius: 15px; }
    .main-productos section p {
      font-size: 0.7rem;
      margin: 0 1rem;
      padding: 0.2rem; }

.main-encontranos section {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: Arial, Helvetica, sans-serif; }
  .main-encontranos section h2 {
    margin: 3.2rem 3rem;
    padding: 0.3rem 0.5rem;
    display: inline;
    background-color: #b1d7b4;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600; }
  .main-encontranos section div iframe {
    width: 100%;
    height: 25rem;
    border-radius: 50px;
    animation-name: foto-aparece;
    animation-duration: 3s;
    animation-iteration-count: initial; }

.main-contacto {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif; }
  .main-contacto section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; }
    .main-contacto section h2 {
      margin: 3.2rem 3rem;
      padding: 0.3rem 0.5rem;
      display: inline;
      background-color: #b1d7b4;
      border-radius: 5px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600; }
    .main-contacto section img {
      width: 60%; }
  .main-contacto .formulario-contacto {
    max-width: 16rem;
    background-color: #7FB77E;
    padding: 2rem;
    margin: 6rem auto auto auto;
    border-radius: 0.4rem; }
    .main-contacto .formulario-contacto legend {
      margin: 0.8rem 0; }
  .main-contacto .contacto {
    width: 100%;
    background-color: #B1D7B4;
    padding: 0.8rem;
    border-radius: 4px;
    margin-bottom: 0.3rem;
    border: 1px solid #ffffff;
    font-family: 'calibri';
    font-size: 1rem;
    color: #212121; }
  .main-contacto .contacto-boton {
    width: 60%;
    border-radius: 4px;
    background-color: #B1D7B4;
    border: none;
    padding: 0.8rem;
    color: #212121;
    margin: 1rem 0;
    font-size: 1rem; }

/* @keyframes del proyecto */
@keyframes foto-aparece {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }

@keyframes animacion-footer {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(4px); }
  100% {
    transform: translateY(0); } }

@keyframes animacion-footer-giro {
  0% {
    rotate: 180deg; }
  50% {
    rotate: -180deg; }
  100% {
    rotate: 360deg; } }

@keyframes animacion-footer-aparece {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* media queries 480px */
@media (min-width: 480px) {
  /* mq productos */
  .main-productos section h2 {
    margin: 3.2rem 10rem;
    padding: 0.3rem 0.2rem;
    display: inline;
    background-color: #b1d7b4;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600; }
  .main-productos section p {
    font-size: 0.9rem; }
  .main-productos section img {
    width: 8rem;
    height: 6rem;
    border-radius: 15px; }
  /* mq contacto */
  .main-contacto .formulario-contacto {
    max-width: 26rem;
    background-color: #7FB77E;
    padding: 2rem;
    margin: auto;
    margin-top: 6rem;
    border-radius: 0.4rem; }
  .main-contacto .contacto {
    width: 100%;
    background-color: #B1D7B4;
    padding: 0.8rem;
    border-radius: 4px;
    margin-bottom: 0.3rem;
    border: 1px solid #ffffff;
    font-family: 'calibri';
    font-size: 1rem;
    color: #212121; } }

/* media queries 768px */
@media (min-width: 768px) {
  /* estilos del nav */
  .nav-item:hover {
    background-color: #B1D7B4;
    transform: scale(0.9);
    box-shadow: 1px 1px 3px black;
    padding: 0.05rem;
    border-radius: 3px; }
  /* estilos del index */
  header {
    background-color: #7FB77E;
    text-align: center; }
    header img {
      margin-top: 5%;
      width: 15%; }
  .main-index img {
    width: 32rem; }
  .main-index p {
    font-size: 1.2rem;
    margin: 1rem 25%;
    animation-name: foto-aparece;
    animation-duration: 2s;
    animation-iteration-count: initial; }
  /* mq nosotros */
  .main-nosotros p {
    font-size: 1.2rem;
    margin: 3rem 20%; }
  .main-nosotros div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px; }
    .main-nosotros div img {
      width: 40%;
      height: 40%; }
  /*mq productos*/
  .main-productos {
    text-align: center; }
    .main-productos section {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
      grid-template-areas: "titulo titulo" "suplementos frutos" "harinas hierbas";
      justify-content: center;
      align-items: center;
      gap: 5px; }
      .main-productos section h2 {
        grid-area: titulo;
        background-color: #B1D7B4;
        padding: 0.5rem 12rem;
        border-radius: 5px; }
      .main-productos section .productos-suplementos {
        grid-area: suplementos;
        margin: 0.5rem 1rem;
        width: 20rem; }
      .main-productos section .productos-frutos {
        grid-area: frutos;
        margin: 0.5rem 1rem;
        width: 20rem; }
      .main-productos section .productos-harinas {
        grid-area: harinas;
        margin: 0.5rem 1rem;
        width: 20rem; }
      .main-productos section .productos-hierbas {
        grid-area: hierbas;
        margin: 0.5rem 1rem;
        width: 20rem; }
      .main-productos section img {
        width: 12rem;
        height: 10rem;
        border-radius: 30px; }
      .main-productos section p {
        margin: 0 2rem;
        padding: 0.5rem;
        font-size: 1rem; }
  /* mq encontranos */
  body {
    background-color: #F7F6DC; }
  .main-encontranos section {
    text-align: center; }
    .main-encontranos section div iframe {
      width: 36rem;
      height: 36rem; }
  /* mq contacto */
  body {
    background-color: #F7F6DC; }
  .main-contacto {
    text-align: center;
    display: flex;
    margin: 8rem 0;
    justify-content: space-evenly; }
    .main-contacto section {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main-contacto section img {
        width: 60%; }
    .main-contacto .formulario-contacto {
      max-width: 32rem;
      background-color: #7FB77E;
      padding: 2rem;
      margin: 6rem auto auto auto;
      border-radius: 0.4rem; }
    .main-contacto .contacto {
      width: 100%;
      background-color: #B1D7B4;
      padding: 0.8rem;
      border-radius: 4px;
      margin-bottom: 0.3rem;
      border: 1px solid #ffffff;
      font-family: 'calibri';
      font-size: 1rem;
      color: #212121; } }

/* media queries 992px */
@media (min-width: 992px) {
  .menu {
    padding: auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600; }
  .nav-item:hover {
    background-color: #B1D7B4;
    transform: scale(0.9);
    box-shadow: 1px 1px 3px black;
    padding: 0.05rem;
    border-radius: 3px; }
  header {
    background-color: #7FB77E;
    text-align: center; }
    header img {
      margin-top: 0;
      width: 12%; }
  /*mq productos*/
  .main-productos section .productos-suplementos {
    margin: 1rem 2rem;
    width: 28rem; }
  .main-productos section .productos-frutos {
    margin: 1rem 2rem;
    width: 28rem; }
  .main-productos section .productos-harinas {
    margin: 1rem 2rem;
    width: 28rem; }
  .main-productos section .productos-hierbas {
    margin: 1rem 2rem;
    width: 28rem; }
  /* mq contacto */
  .main-contacto {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 8rem 0; }
    .main-contacto section {
      display: grid;
      text-align: center;
      justify-content: center;
      align-items: center; }
      .main-contacto section img {
        width: 60%; }
    .main-contacto .formulario-contacto {
      display: grid;
      max-width: 32rem;
      background-color: #7FB77E;
      padding: 2rem;
      margin: 6rem auto auto auto;
      border-radius: 0.4rem; }
    .main-contacto .contacto {
      width: 100%;
      background-color: #B1D7B4;
      padding: 0.8rem;
      border-radius: 4px;
      margin-bottom: 0.3rem;
      border: 1px solid #ffffff;
      font-family: 'calibri';
      font-size: 1rem;
      color: #212121; } }
