/* reset */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* paleta de colores */

:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primero: #7FB77E;
    --segundo: #B1D7B4;
    --tercero: #F7F6DC;
}


/* estilos de index */

/* estilos del header */

header{
    background-color: var(--primero);
}

header .titulo{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    color: var(--oscuro);
}

header .titulo-abajo{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--oscuro);
}

/* estilos de nav/menu */


.menu{
    padding: auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


/* estilos del body */

body{
    background-color: var(--tercero);
}

/* estilos del main */

.main-index{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.main-index img{
    width: 60%;
}

/* estilos del footer */

.footer{
    background-color: var(--primero);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--oscuro);
    bottom: 0;
}




/* estilos de nosotros */

/* estilos main */

.main-nosotros{
    text-align: center;
}

.main-nosotros .div-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.main-nosotros .div-nosotros img{
    width: 70%;
    height: 70%;
}



/* estilos de productos */

/* estilos de main */
.main-productos{
    text-align: center;
}

.main-productos .productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 5px;
}

.main-productos .productos img{
    width: 40%;
    height: 40%;
}





/* media queries mobile first */

@media screen and (min-width:768px) {

/* estilos del nav */

    .nav-item:hover{
        background-color: var(--segundo);
        transform: scale(0.9);
        box-shadow: 1px 1px 3px black;
        padding: 0.05rem;
        border-radius: 3px;
}

    /* estilos del index */
    .main-index img{
        width: 32rem;
    }


    /* nuevos estilos de nosotros */
    /* nuevos estilos main */

    .main-nosotros .div-nosotros{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .main-nosotros .div-nosotros img{
        width: 40%;
        height: 40%;
    }


    /* nuevos estilos de productos */
    /* nuevos estilos main */
    
    .main-productos .productos{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "titulo titulo"
        "suplementos frutos"
        "harinas hierbas";
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .main-productos .productos-titulo{
        grid-area: titulo;
    }

    .main-productos .productos-suplementos{
        grid-area: suplementos;
    }
    
    .main-productos .productos-frutos{
        grid-area: frutos;
    }

    .main-productos .productos-harinas{
        grid-area: harinas;
    }

    .main-productos .productos-hierbas{
        grid-area: hierbas;
    }

    .main-productos .productos img{
        width: 40%;
        height: 40%;
    }
    
}