/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//paleta de colores
//variables

$blanco: #ffffff;
$oscuro: #212121;
$primero: #7FB77E;
$segundo: #B1D7B4;
$tercero: #F7F6DC;

//@import de estilos 
@import "utilities/index";
@import "utilities/nosotros";
@import "utilities/productos";
@import "utilities/encontranos";
@import "utilities/contacto";
@import "utilities/mq";
@import "utilities/keyframes";
@import "utilities/mixin.scss";