@import "mixin";


.main-contacto{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    section{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        h2{
            @include subtitulos(3.2rem 3rem, 0.3rem 0.5rem);
        }
        img{
            width: 60%;
        }
}
        .formulario-contacto{
            max-width: 16rem;
            background-color: $primero;
            padding: 2rem;
            margin: 6rem auto auto auto;
            border-radius: 0.4rem;
            legend{
                margin: 0.8rem 0;
            }
        }
        .contacto{
            width: 100%;
            background-color: $segundo;
            padding: 0.8rem;
            border-radius: 4px;
            margin-bottom: 0.3rem;
            border: 1px solid $blanco;
            font-family: 'calibri';
            font-size: 1rem;
            color: $oscuro;
        }
        .contacto-boton{
            width: 60%;
            border-radius: 4px;
            background-color: $segundo;
            border: none;
            padding: 0.8rem;
            color: $oscuro;
            margin: 1rem 0;
            font-size: 1rem;
        }
}
