@import "mixin";


.main-contacto{
    text-align: center;
    width: 100%;
    section{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        h2{
            @include subtitulos(3.2rem 3rem, 0.3rem 0.5rem);
        }
        img{
            width: 60%;
        }
        form{
            padding: 1.5rem;
            button{
                outline-style: auto;
                border-radius: 15px;
                padding: 0.3rem;
                background-color: #B1D7B4;
            }
        }
    }
}