@import "mixin";

.main-encontranos{
    section{
        margin-top: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 500;
        h1{
            @include subtitulos(3.2rem 3rem, 0.7rem 0.9rem);
        }
        div{
            iframe{
                width: 100%;
                height: 25rem;
                border-radius: 50px;
                animation-name: foto-aparece;
                animation-duration: 3s;
                animation-iteration-count: initial;
                -webkit-box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.71);
                -moz-box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.71);
                box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.71);
            }
        }
    }
}