/* estilos del header */


header{
    background-color: #7FB77E;
    text-align: center;
    img{
        margin-top: 5%;
        width: 15%;
    }
}

/* estilos del nav */

.menu{
    padding: auto;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/* estilos del body */

body{
    background: rgb(240,239,208);
    background: -moz-radial-gradient(circle, rgba(240,239,208,1) 22%, rgba(247,246,220,1) 50%, rgba(230,226,187,1) 80%);
    background: -webkit-radial-gradient(circle, rgba(240,239,208,1) 22%, rgba(247,246,220,1) 50%, rgba(230,226,187,1) 80%);
    background: radial-gradient(circle, rgba(240,239,208,1) 22%, rgba(247,246,220,1) 50%, rgba(230,226,187,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0efd0",endColorstr="#e6e2bb",GradientType=1);
}

/* estilos del main */

.main-index{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    img{
        width: 60%;
        animation-name: foto-aparece;
        animation-duration: 1s;
        animation-iteration-count: initial;
    }
    p{
        margin: 1rem 2rem;
        animation-name: foto-aparece;
        animation-duration: 2s;
        animation-iteration-count: initial;
    }
}

/* estilos del footer */

footer{
    background-color: #7FB77E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0;
    animation-name: animacion-footer-aparece;
    animation-duration: 2.5s;
    animation-iteration-count: initial;
    div{
        display: flex;
        flex-direction: row;
    }
    img{
        margin-bottom: 0.5rem;
        filter: drop-shadow(1px 4px 3px black);
        animation-name: animacion-footer;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        padding-inline: 0.5rem;
        margin-bottom: 0.7rem;
    }
    .animacion-giro{
        animation-name: animacion-footer-giro;
        animation-duration: 1.2s;
        animation-iteration-count: initial;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        color: #212121;
        margin-bottom: 0;
    }
}
