/* media queries 480px */
@media (min-width: 480px) {
    /* mq productos */
    .main-productos{
        section{
            h2{
                @include subtitulos(3.2rem 10rem, 0.3rem 0.2rem);
            }
            p{
                font-size: 0.9rem;
            }
            img{
                width: 8rem;
                height: 6rem;
                border-radius: 15px;
            }
        }
    }
    /* mq contacto */
    .main-contacto{
        .formulario-contacto{
            max-width: 26rem;
            background-color: $primero;
            padding: 2rem;
            margin: auto;
            margin-top: 6rem;
            border-radius: 0.4rem;
        }
        .contacto{
            width: 100%;
            background-color: $segundo;
            padding: 0.8rem;
            border-radius: 4px;
            margin-bottom: 0.3rem;
            border: 1px solid $blanco;
            font-family: 'calibri';
            font-size: 1rem;
            color: $oscuro;
        }
    }
}

/* media queries 768px */
@media (min-width:768px) {
    
    

    /* estilos del nav */
    .nav-item:hover{
        background-color: #B1D7B4;
        transform: scale(0.9);
        box-shadow: 1px 1px 3px black;
        padding: 0.05rem;
        border-radius: 3px;
    }
    
    
    /* estilos del index */

    header{
        background-color: #7FB77E;
        text-align: center;
        img{
            margin-top: 5%;
            width: 15%;
        }
    }

    .main-index{
        img{
        width: 32rem;
        }
        p{
            font-size: 1.2rem;
            margin: 1rem 25%;
            animation-name: foto-aparece;
            animation-duration: 2s;
            animation-iteration-count: initial;
        }
    }
    
    /* mq nosotros */
    //main
    .main-nosotros{
        p{
            font-size: 1.2rem;
            margin: 3rem 20%;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
            img{
                width: 40%;
                height: 40%;
            }
        }
    }
    
    /*mq productos*/
    //main
    .main-productos{
        text-align: center;
        section{
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
            grid-template-areas: 
            "titulo titulo"
            "suplementos frutos"
            "harinas hierbas";
            justify-content: center;
            align-items: center;
            gap: 5px;
            h2{
                grid-area: titulo;
                background-color: #B1D7B4;
                padding: 0.5rem 12rem;
                border-radius: 5px;
            }
            .productos-suplementos{
                grid-area: suplementos;
                margin: 0.5rem 1rem;
                width: 20rem;
            }
            .productos-frutos{
                grid-area: frutos;
                margin: 0.5rem 1rem;
                width: 20rem;
            }
            .productos-harinas{
                grid-area: harinas;
                margin: 0.5rem 1rem;
                width: 20rem;
            }
            .productos-hierbas{
                grid-area: hierbas;
                margin: 0.5rem 1rem;
                width: 20rem;
            }
            img{
                width: 12rem;
                height: 10rem;
                border-radius: 30px;
            }
            p{
                margin: 0 2rem;
                padding: 0.5rem;
                font-size: 1rem;
            }
        }
    }
    
    /* mq encontranos */
    //main
    
    body{
        background-color: $tercero;
    }
    .main-encontranos{
        section{
            text-align: center;
            div{
                iframe{
                    width: 36rem;
                    height: 36rem;
                }
            }
        }
    }
    
    /* mq contacto */
    //main
    
    body{
        background-color: $tercero;
    }
    
    .main-contacto{
        text-align: center;
        display: flex;
        margin: 8rem 0;
        justify-content: space-evenly;
        section{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 60%;
            }
        }
        .formulario-contacto{
            max-width: 32rem;
            background-color: $primero;
            padding: 2rem;
            margin: 6rem auto auto auto;
            border-radius: 0.4rem;
        }
        .contacto{
            width: 100%;
            background-color: $segundo;
            padding: 0.8rem;
            border-radius: 4px;
            margin-bottom: 0.3rem;
            border: 1px solid $blanco;
            font-family: 'calibri';
            font-size: 1rem;
            color: $oscuro;
        }
    }
    }
    
    
    
    
    
    
    /* media queries 992px */
    
    @media (min-width: 992px) {
    .menu{
        padding: auto;
        display: flex;
        justify-content: space-evenly;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
    .nav-item:hover{
        background-color: #B1D7B4;
        transform: scale(0.9);
        box-shadow: 1px 1px 3px black;
        padding: 0.05rem;
        border-radius: 3px;
    }
    header{
        background-color: #7FB77E;
        text-align: center;
        img{
            margin-top: 0;
            width: 12%;
        }
    }
    /*mq productos*/
    //main
    .main-productos{
        section{
            .productos-suplementos{
                margin: 1rem 2rem;
                width: 28rem;
            }
            .productos-frutos{
                margin: 1rem 2rem;
                width: 28rem;
            }
            .productos-harinas{
                margin: 1rem 2rem;
                width: 28rem;
            }
            .productos-hierbas{
                margin: 1rem 2rem;
                width: 28rem;
            }
        }
    }
    /* mq contacto */
    .main-contacto{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 8rem 0;
        section{
            display: grid;
            text-align: center;
            justify-content: center;
            align-items: center;
            img{
                width: 60%;
            }
        }
        .formulario-contacto{
            display: grid;
            max-width: 32rem;
            background-color: $primero;
            padding: 2rem;
            margin: 6rem auto auto auto;
            border-radius: 0.4rem;
        }
        .contacto{
            width: 100%;
            background-color: $segundo;
            padding: 0.8rem;
            border-radius: 4px;
            margin-bottom: 0.3rem;
            border: 1px solid $blanco;
            font-family: 'calibri';
            font-size: 1rem;
            color: $oscuro;
        }
    }
    }