@import "mixin";
/* estilos de nosotros */


.main-nosotros{
    text-align: center;
    margin-top: 2rem;
    h1{
        @include subtitulos(3.2rem 3rem, 0.5rem 0.7rem);
    }
    p{
        margin: 3rem 5rem;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 500;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        img{
            width: 70%;
            height: 70%;
            border-radius: 30px;
        }
    }
}